{% extends "default/back.html.twig" %}
{% block container %}
    <table class="table table-bordered table-colored table-purple">

        <th class="wd-20p">Etablissement</th>
        <th class="wd-10p">Titre</th>
        <th class="wd-35p">Description</th>
        <th class="wd-35p">Localisation</th>
        <th class="wd-20p">Date</th>
        <th class="wd-20p">Prix</th>
        <th class="wd-20p">Catégorie</th>
        <th class="wd-20p">Image</th>
        <th class="wd-20p">Modification</th>
        <th class="wd-20p">Suppression</th>


        {% for evenement in evenements %}
        <tbody>
        <tr>
            <td>{{ evenement.etablissement }}</td>
            <td>{{ evenement.title }}</td>
            <td>{{ evenement.description }}</td>
            <td>{{ evenement.localisation }}</td>
            <td>{{ evenement.date|date('d-m-20y') }}</td>
            <td>{{ evenement.prix }}</td>
            <td>{{ evenement.category }}</td>
            <td> <img style="width:50px;height:50px;" alt="" src="{{ asset(evenement.imagepath) }}"></td>
            <td><a href="{{ path('navUpdateBackEvent',{'id':evenement.id}) }}">Modifier</a></td>
            <td><a href="{{ path('navDeleteBackEvent',{'id':evenement.id}) }}">Supprimer</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}